In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB as Classifier

In [18]:
def nb(dataset,target_col,k_values):
    for k in k_values:
        x_train,x_test,y_train,y_test=train_test_split(dataset.drop(columns=[target_col]),dataset[target_col],test_size=(1-k/10),random_state=42)
        clf=Classifier()
        clf.fit(x_train.values,y_train.values)
        y_pred=clf.predict(x_test.values)
        accuracy=accuracy_score(y_test,y_pred)
        print(f"Split {k*10}-{100-k*10} accuracy:{accuracy:.2}")

In [ ]:
iris=load_dataset("iris")
print("NB for Iris")
nb(iris,"species",[3,5,7,9])

In [21]:
titanic=pd.read_csv("titanic.csv")
titanic=titanic.drop(columns=["PassengerId","Name","Ticket","Cabin"])
titanic["Age"].fillna(titanic["Age"].median(),inplace=True)
titanic["Embarked"].fillna(titanic["Embarked"].mode()[0],inplace=True)
titanic=pd.get_dummies(titanic,columns=["Sex","Embarked"])
print("NB for Titanic")
nb(titanic,"Survived",[3,5,7,9])

NB for Titanic
Split 30-70 accuracy:0.75
Split 50-50 accuracy:0.78
Split 70-30 accuracy:0.79
Split 90-10 accuracy:0.79